{{>header}}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <p class="mt-5">Lorem ipsum dolor sit, amet consectetur  In saepe magnam numquam commodi magni quibusdam quis facere, impedit ipsam distinctio reprehenderit alias nostrum? Voluptatem mollitia cumque unde alias odit nemo velit amet eligendi. Maxime blanditiis accusantium soluta illum, possimus ducimus nobis fugiat porro animi suscipit expedita, placeat totam laborum sunt dolorum voluptatibus? Aut in perspiciatis provident perferendis aperiam temporibus voluptas, sed mollitia. Eveniet ducimus at vero repellendus! Eligendi velit expedita hic dolorem facilis, sed blanditiis pariatur asperiores tenetur sint odio accusamus saepe porro voluptatibus ad, placeat quasi vero ut voluptas distinctio reiciendis. Rerum tempore deleniti distinctio maxime dolores ab necessitatibus!</p>
                <p>Lorem ipsum dolor sit,  necessitatibus! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet, veniam?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi cumque amet nam reprehenderit nobis. A laudantium cupiditate numquam ex aliquid deleniti fugit iste nemo, cumque, provident eveniet corrupti eum consequatur. Corporis ipsum reiciendis dolorem ab quasi natus doloremque itaque explicabo?</p>
            </div>
            <div class="col-md-4 col-sm-12">
                <img src="/img/profile.jpg" alt="" class="profile-img mt-5 img-fluid">
            </div>
        </div>
    </div>    
{{>footer}}