<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="icon" href="/img/favo.jpg">
    {{!-- <link href="https://fonts.googleapis.com/css?family=Hepta+Slab:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet"> --}}
    <link href="https://fonts.googleapis.com/css?family=Manjari:100,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav>
                    <ul class="navbar-ul">
                        <li><a href="/">weather</a></li>
                        <li><a href="/about">about</a></li>
                        <li><a href="/help">help</a></li>
                    </ul>
                </nav>
                <h2><span class="page-title">{{title}}</span></h2>
            </div>
        </div>
    </div>
    <div class="main">
    